body {
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    text-decoration: underline;
}
button {
    width: 120px;
    padding: 0.3rem 0;
    margin: 1rem 1.2rem;
    background-color: blue;
    color: white;
    transition: 0.2s;
}
button:hover {
    background-color: red;
  }
#winner {
    font-size: 1.1rem;
    text-decoration: underline;
    color: red;
    text-shadow: 2px 2px 1px gold;
}
.hidden {
    display: none;
}